div {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    list-style: none;

        &:not(:last-child) {
            margin-right: 10px;
        }

        & > li {
            display: block;
        }


}
